<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script>-->
<!--        function to_main() {-->
<!--            window.location.href="/"-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>상세 페이지</h1>-->
<!--    <button onclick="to_main()">메인으로 돌아가기</button>-->
<!--</body>-->
<!--</html>-->

<!--페이지 연결해보기 연습-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //get_list()
        })

        function get_list() {
            $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
                data: {},
                success: function (response) {
                    let rows = response["RealtimeCityAir"]["row"];
                    console.log(rows)
                    $("#gu-list").empty()
                    for (let i = 0; i < rows.length; i++) {
                        let gu_name = rows[i]["MSRSTE_NM"]
                        let gu_mise = rows[i]["IDEX_MVL"]
                        console.log(gu_name, gu_mise)
                        if (gu_mise >= 60) {
                            let html_temp = `<li>${gu_name}:${gu_mise}</li>`
                            $("#gu-list").append(html_temp)
                        }
                    }
                }
            })
        }
    </script>
</head>
<body>
<h1>상세 페이지</h1>
<h3>받은 단어는 {{ word }}</h3>
<button onclick='window.location.href="/"'>메인으로 돌아가기</button>
<ul id="gu-list">
    {% for row in rows %}
    {% set gu_name = row["MSRSTE_NM"] %}
    {% set gu_mise = row["IDEX_MVL"] %}
        {% if gu_mise >= 60 %}
    <li>{{ gu_name }}:{{ gu_mise|int }}</li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>
